html {
    width: 100%;
    height: 100%;
}

body {
    margin: 1rem;
    background: url("../img/BG_Gray.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke; 
    font-size: 2rem;
    font-family: Arial; 
    overflow: hidden;
}

h1 {
  position: absolute; 
  top: 64.2%;
  left: 15%;
  color: red;
  font-size: 2rem;
}

.dialogue {
  position: absolute;
  top: 73%;
  left: 15%;
  width: 70%;
  border: 1px solid red;
}

.dialoguebox {
  position: absolute;
  width: 74.1%;
  height: auto;
  top: 65.55%;
  left: 13%;
}